/* LOGIN y REGISTER*/
#page-login {
  position: absolute;
  height: 100%;
  width: 100%;
}

#page-login .logo {
  position:absolute;
}

#page-login h3 {
  font-size: 20px;
  font-family: 'Righteous', cursive;
}

#page-login .text-right {
  margin-top: 30px;
}

#page-login .box {
  margin-top:12%;
}

.box {
  display: block;
  z-index: 1999;
  position: relative;
  border: 1px solid #f8f8f8;
  box-shadow: 0 0 4px #D8D8D8;
  background: transparent;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.box-form {
  position: relative;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.8);
}

.form-control {
  height: 26px;
  padding: 2px 12px;
}

.box-form .log-reg-header{
  margin: 0 0 10px;
  padding-bottom: 7px;
  border-bottom: 1px dashed #B6B6B6;
}

.log-reg {
  color: #D8D8D8;
}

.full-content .box-form {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.button {
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  font-family: "Lucida Grande","Lucida Sans",Verdana,sans-serif;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: #6AA6D6;
  line-height: 24px;
  margin: 0 0 10px 0;
  padding: 0 10px;
  border-radius: 4px;
  outline: none;
  color: #f8f8f8;
}



#container {
	min-width: 400px;
	margin-top: 20px;
}






body {
  color: #525252;
  background-image:url('../imagenes/plane2.jpg');
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: repeat-y;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin:0;
}

#logo {
  position:relative;
  background: #525252 url(../img/devoops_pattern_b10.png) 0 0 repeat;
}

#logo a {
  color: #fff;
  font-family: 'Righteous', cursive;
  display: block;
  font-size: 20px;
  line-height: 50px;
  background: url(../img/logo.png) right 42px no-repeat;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#logo a:hover {
  background-position: right 25px;
  text-decoration: none;
}

.navbar {
  margin: 0;
  border: 0;
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 1px 2px #272727;
  z-index: 2000;
}

a.show-sidebar {
  float: left;
  color:#6d6d6d;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

a.show-sidebar:hover {
  color:#000;
}

#sidebar-left {
  position:relative;
  z-index: inherit;
  padding-bottom: 3000px !important;
  margin-bottom: -3000px !important;
  background:rgba(85, 87, 255, .6);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#content {
  position: relative;
  z-index: 10;
  background: rgba(0, 0, 0, .3);
  box-shadow: 0 0 6px #131313;
  padding-bottom: 3000px !important;
  margin-bottom: -2980px !important;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  overflow:auto;
float:left;
}


.full-content {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.nav.main-menu, .nav.msg-menu {
  margin:0 -15px;
}

.nav.main-menu > li > a, .nav.msg-menu > li > a {
  text-align: center;
  color:#f0f0f0;
  min-height: 40px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background:rgba(0, 0, 0, 0.1);
}

.nav.main-menu > li > a:hover, .nav.main-menu > li > a:focus, .nav.main-menu > li.active > a, .nav.main-menu .open > a, .nav.main-menu .open > a:hover, .nav.main-menu .open > a:focus, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li.active > a,
.nav.msg-menu > li > a:hover, .nav.msg-menu > li > a:focus, .nav.msg-menu > li.active > a, .nav.msg-menu .open > a, .nav.msg-menu .open > a:hover, .nav.msg-menu .open > a:focus {
  background:rgba(0, 0, 0, 0.1);
  color:#f0f0f0;
}

.nav.main-menu a.active, .nav.msg-menu a.active {
  background:rgba(0, 0, 0, 0.2);
}

.nav.main-menu a.active:hover, .nav.msg-menu a.active:hover {
  background:rgba(0, 0, 0, 0.2);
}

.nav.main-menu a.active-parent, .nav.msg-menu a.active-parent {
  background: rgba(0, 0, 0, 0.3);
}

.nav.main-menu a.active-parent:hover, .nav.msg-menu a.active-parent:hover {
  background: rgba(0, 0, 0, 0.3);
}

.nav.main-menu > li > a > i, .nav.msg-menu > li > a > i {
  font-size: 18px;
  width: auto;
  display: block;
  text-align: center;
  vertical-align: middle;
}

.main-menu .dropdown-menu {
  position: absolute;
  z-index: 2001;
  left: 100%;
  top: 0;
  float: none;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 0;
  background: #6AA6D6 url(../img/devoops_pattern_b10.png) 0 0 repeat;
  box-shadow: none;
  visibility:hidden;
}

.main-menu .active-parent:hover + .dropdown-menu {
  visibility:visible;
}

.main-menu .active-parent + .dropdown-menu:hover {
  visibility:visible;
}

.main-menu .dropdown-menu > li > a {
  padding:9px 15px 9px 40px;
  color:#f0f0f0;
}

.main-menu .dropdown-menu > li:first-child > a {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}

.main-menu .dropdown-menu > li:last-child > a {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}


#top-panel {
  line-height: 50px;
  height: 50px;
  background: #ebebeb;
}

#main {
  margin-top: 50px;
  min-height: 800px;
  overflow: hidden;
  display: block;
}

#search {
  position: relative;
  margin-left: 20px;
}

#search > input {
  width: 80%;
  background: #dfdfdf;
  border: 1px solid #C7C7C7;
  text-shadow:0 1px 1px #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #686868;
  line-height: 1em;
  height: 30px;
  padding: 0 35px 0 10px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#search > input + i {
  opacity:0;
  position: absolute;
  top: 18px;
  right: 10px;
  color: #fff;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

#search > input:focus {
  width:100%;
  outline:none;
}

#search > input:focus + i {
  opacity:1;
}

.panel-menu {
  margin: 0;
}

.top-panel-right {
  padding-left: 0;
}

.panel-menu > li > a {
  padding: 0 5px 0 10px;
  line-height: 50px;
}

.panel-menu > li > a:hover {
  background: none;
}

.panel-menu a.account {
  height: 50px;
  padding: 5px 0 5px 10px;
  line-height: 18px;
}

.panel-menu i {
  margin-top: 8px;
  padding: 5px;
  font-size: 20px;
  color: #7BC5D3;
  line-height: 1em;
  vertical-align: top;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.panel-menu > li > a:hover > i {
  background: #f5f5f5;
}

.panel-menu i.pull-right {
  color: #000;
  border: 0;
  box-shadow: none;
  font-size: 16px;
  background: none !important;
}

.panel-menu .badge {
  margin-top: 3px;
  padding: 3px 6px;
  vertical-align: top;
  background: #CEA9A9;
}

.panel-menu .dropdown-menu {
  position: absolute !important;
  background: rgba(0, 0, 0, 0.7) !important;
  padding: 0;
  border: 0;
  right: 0;
  left: auto;
  min-width: 100%;
}
.panel-menu .dropdown-menu > li > a {
  padding:5px 10px !important;
  color:#f0f0f0;
}


.avatar {
  width: 40px;
  float: left;
  margin-right: 5px;
}
.avatar > img {
  width:40px;
  height:40px;
  border: 1px solid #F8F8F8;
}
.user-mini > span {
  display: block;
  font-size: 12px;
  color:#363636;
  margin-bottom: -4px;
}
.user-mini > span.welcome {
  font-weight: bold;
  margin-top: 2px;
}




@media (min-width: 768px) {
  #sidebar-left.col-sm-2 {
    opacity: 1;
    width: 16.666666666666664%;
    padding: 0 15px;
  }
  .sidebar-show #sidebar-left.col-sm-2 {
    opacity: 0;
    width:0;
    padding:0;
  }
  .sidebar-show #content.col-sm-10 {
    opacity: 1;
    width:100%;
  }
  .page-404 .form-inline {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .nav.main-menu > li > a, .nav.msg-menu > li > a {
    text-align: left;
  }
  .nav.main-menu > li > a > i, .nav.msg-menu > li > a > i {
    font-size:14px;
    width: 20px;
    display: inline-block;
  }
  .main-menu .dropdown-menu {
    position: relative;
    z-index: inherit;
    left:0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background:rgba(0, 0, 0, 0.2);
    visibility: visible;
  }
  .main-menu .dropdown-menu > li > a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .page-404 .form-inline {
    width: 40%;
  }
}


@media (max-width: 767px) {
  #main {
    margin-top: 100px;
  }
  #messages-menu {
    top:140px;
  }
}
@media (max-width: 620px) {
  .user-mini {
    display: none;
  }
}
@media (max-width: 400px) {
  .panel-menu a.account {
    padding: 5px 0px 5px 0;
  }
  .avatar {
    margin: 0;
  }
  .panel-menu i.pull-right {
    margin-left: 0;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
  }
}


/* About me */


.grey{
	color: #666;
}



/* Columns */

.col-l{
	width: 47.5%;
	float: left;
}

.col-r{
	width: 47.5%;
	float: right;
}


/* Social media icons */

.social{
	font-size:16px;
	margin-top: 10px;
}

.social i{
	height:25px;
	width:25px;
	display:inline-block;
	line-height:25px;
	margin:0px 5px 0px 0px;
	color:#fff;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;
	text-align:center;
}

i.facebook{
  background:#3c5b9b;
}

i.twitter{
  background:#2daae1;
}

i.google-plus{
  background:#f63e28;
}

i.pinterest{
  background:#cb2027;
}

i.linkedin{
  background:#0173b2;
}

.social i:hover{
  background:#000;
  -webkit-transition:background 1s ease;
  -moz-transition:background 1s ease;
  -o-transition:background 1s ease;
  transition:background 1s ease;
}

.social a,.social a:visited,.social a:hover{
  color:#fff;
  text-decoration:none;
}


.aboutus {
	background: rgba(255, 255, 255, 0.7);
	margin-bottom: 20px;
	
	
}

.saludo{
  overflow: hidden;
  padding-bottom: 44px;
  background: rgba(255, 255, 255, 0.7);
	margin: 40px;
	padding: 15px;
  clear: both;
  display: block;
}

.saludo h2:first-letter {
  color: #1024CB;
  font-weight: normal;
}

.saludo h2 {
  float: left;
  margin: 0;
  padding-right: 58px;
  line-height: 54px;
}

.saludo p {
  border-left: 1px solid #454545;
  padding: 0 0 0 26px;
  color: #1024CB;
}

.saludo div {
  overflow: hidden;
}


.pic, .ainfo {
	margin: 5px;
}

/* Responsive */

@media (min-width: 481px) {
	.flexslider {
		margin-left: 40px;
		margin-right: 40px;
	}
}

@media (max-width: 480px){
   .col-l{
	   	width: 100%;
	   	float: none;
	   	margin: 10px 0px 5px 0px;
   }
   .col-r{
	   	width: 100%;
	   	float: none;
	   	margin: 10px 0px 5px 0px;
   }  
   .aboutus{
   	text-align: center;
   }
   .inicio{
   	text-align: center;
   }
   
}













































/* FOOTER */

#divFooter{
	font-family: 'Open Sans', sans-serif; 
	color: rgb(41, 41, 41); 
	padding-top: 32px; 
	line-height: 22px; 
	font-size: 12px; 
	text-transform: none; 
	background: rgba(255, 255, 255, 0.8);
	overflow:auto;
	clear: both;
}

#divFooter a{
	color: rgb(54, 150, 86);
	}

#divFooter h3{
	color: rgb(41, 41, 41);
	}

#divFooter {
	margin-left:-20px;
	margin-right:-20px;
	padding-left:20px;
	padding-right:20px;
	}
    









.flexslider {
	margin-left: 40px;
	margin-right: 40px;
}












